<app-header></app-header>

<div class="container wrapper">
  <router-outlet></router-outlet>
</div>

<app-footer></app-footer>

<!-- 
<div class="col-4 wrapper  d-flex align-items-stretch">

    <div class="card">
      <img
        src="https://hips.hearstapps.com/vader-prod.s3.amazonaws.com/1559244390-best-toys-2019-walking-buzz-1559244376.jpg"
        class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
        <a href="#" class="btn btn-primary">Add to Cart</a>          
        <a href="#" class="btn btn-primary  pull-right">View Details</a>          
      </div>
    </div>

  

  <div class="col-4 wrapper d-flex align-items-stretch">
    <div class="card">
      <img
        src="https://www.thetoyshop.com/medias/539067-Primary-1200Wx1200H?context=bWFzdGVyfGltYWdlc3wzMTI2OTJ8aW1hZ2UvcG5nfGltYWdlcy9oNzUvaGQ1LzkxNzAyMzMxOTY1NzQucG5nfDA3NGQzMTUzOWQxYzM0MWFhMDgxZWUyYzFjZjQ0NWU5NTY1ZTc1MmYwNGEwMzI5MzAzZjU4YWY1MzMzOGU4NWI"
        class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
        <a href="#" class="btn btn-primary">Add to Cart</a>
        <a href="#" class="btn btn-primary  pull-right">View Details</a>          
      </div>
    </div>

  </div>

  <div class="col-4 wrapper">
    <div class="card">
      <img src="https://cdn-ssl.s7.disneystore.com/is/image/DisneyShopping/6101036512836" class="card-img-top"
        alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
        <a href="#" class="btn btn-primary">Add to Cart</a>
        <a href="#" class="btn btn-primary  pull-right">View Details</a>

      </div>
    </div>

  </div>

  <div class="col-4 wrapper">
    <div class="card">
      <img
        src="https://target.scene7.com/is/image/Target/GUEST_ece962e0-6414-4820-acce-eefc60b12756?wid=488&hei=488&fmt=pjpeg"
        class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
        <a href="#" class="btn btn-primary">Add to Cart</a>
        <a href="#" class="btn btn-primary  pull-right">View Details</a>          

      </div>
    </div>
  </div>

  <div class="col-4 wrapper">
    <div class="card">
      <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSOqr2OLKXuT0_H4wjeyqc5-kfs6-J5A4gzIB2qtkSL5jqtIf7qKA"
        class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
        <a href="#" class="btn btn-primary">Add to Cart</a>
        <a href="#" class="btn btn-primary  pull-right">View Details</a>          

      </div>
    </div>
  </div>

  <div class="col-4 wrapper">
    <div class="card">
      <img
        src="https://s7d9.scene7.com/is/image/DisneyStoreES/461010086055?$sdMedium$&defaultImage=no%20image-image_uk"
        class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
        <a href="#" class="btn btn-primary">Add to Cart</a>
        <a href="#" class="btn btn-primary  pull-right">View Details</a>          

      </div>
    </div>    
  </div> -->