<div>
    <div class="card d-flex align-items-stretch">

        <!-- one method of assigning an image -->
        <!-- <img src={{product.image}}
            class="card-img-top" alt="..."> -->

        <!-- property binding -->
        <img class="card-img-top" [src]="product.imageUrl" [alt]="product.alt">
        <div class="card-body">
            <h5 class="card-title">{{ product.title |uppercase}}</h5>
            <p class="card-text">{{product.description}}</p>
            <!-- <div class="container d-flex justify-content-between"> -->
            <!-- <a *ngIf="!product.isAvailable" href="#" class="btn btn-primary" (click)=addToCart()>Add to Cart</a> -->
             <a *ngIf="product.isAvailable; else soldOut" href="#" class="btn btn-success"
                    (click)=viewDetails()>Add to Cart</a>
                <ng-template #soldOut><a routerLink="" class="btn btn-danger" (click)=viewDetails()>Sold Out</a>
                </ng-template>
            
            <a class="btn btn-primary pull-right" (click)=gotoDetails(product.id)>View Details</a>
            <!-- </div> -->
        </div>
    </div>

</div>
<!-- <div *ngIf="!product.isAvailable; else soldOut"> <a href="#" class="btn btn-primary"
        (click)=viewDetails()>Add to Cart</a>
</div> 
<ng-template><a href="#" class="btn btn-primary" (click)=viewDetails()>Sold Out</a>
</ng-template> -->